<!--delete images-->

{% extends "layout.html" %}
{% block title %}Kuvien poisto{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md">
        <h2>Kuvien poistaminen</h2>
        <br>
        <p>Voit poistaa kuvia "Poista kuva" painikkeella. Huomioi kuitenkin, että poistamalla
            kuvan, poistat myös kuvan kuvaajan sekä kuvalle annetut pisteet. Älä siis poista kuvaa kesken 
            äänestyksen.
        </p>
        <br>
    </div>
</div>


{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row">
    <ul class=flashes>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}


<div class="container">
    <div class="row">
        <div class="col-8">
            <table class="table table-image">
                <tbody>
                {% for idname in idname %}
                <tr>
                <form action="/remove" method="POST">
                        <td class="w-25">
                        <img src="{{url_for('images', id=idname[0])}}" class="img-fluid img-thumbnail">
                        </td>
                        <td>{{ idname[1] }}</td>
                        <input type="hidden" name="id" value="{{ idname[0] }}">
                        <td>
                        <button type="submit" class="btn btn-danger">Poista kuva</button>
                        </td>
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
