<!--delete images-->

{% extends "layout.html" %}
{% block title %}Kuvien poisto{% endblock %}

{% block content %}

<h2>Kuvien poistaminen</h2>

<p>Voit poistaa kuvia "Poista kuva" painikkeella. Huomioi kuitenkin, että poistamalla
    kuvan, poistat myös kuvan kuvaajan sekä kuvalle annetut pisteet. Älä siis poista kuvaa kesken 
    äänestyksen.
</p>
<br>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}


{% for idname in idname %}
<form action="/remove" method="POST">
    <ul> 
        <p><img src="{{url_for('images', id=idname[0])}}" width="25%" height="25%"></p>
        <p>{{ idname[1] }}</p>
        <input type="hidden" name="id" value="{{ idname[0] }}">
        <input type="submit" value="Poista kuva">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <br>
    </ul>
</form>
{% endfor %}

{% endblock %}
