<!--registeration to the application-->

{% extends "layout.html" %}
{% block title %}Rekisteröityminen{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md">
        <h2>Rekisteröityminen</h2>
        <br>
        <p>Ole hyvä ja täytä alla olevat tiedot. Suositeltavaa on, että annat
             selkeän käyttäjätunnuksen esim. oma etunimi ja yli viisi merkkiä pitkän salasanan. 
             Sovelluksessa ei voi olla kahta saman nimistä käyttäjää, joten valitse 
             itsellesi jokin toinen tunnus, jos kyseinen tunnus on jo varattu.
        </p>
        <br>       
    </div>
</div>


<!--alert section-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-secondary" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endwith %}

<!--register form-->
<div class="row">
    <div class="col-md-4">
        <form action="/register" method="post">
            <div class="form-group">
            Käyttäjätunnus: <input required type="text" name="username" class="form-control" placeholder="Käyttäjätunnus">
            Salasana: <input required type="password" name="password" class="form-control" placeholder="Salasana">
            <br>
            <button type="submit" class="btn btn-dark">Luo tunnus</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
