<!--upload page for images-->

{% extends "layout.html" %}
{% block title %}Kuvien lataaminen{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md">
        <h2>Kuvien lataaminen</h2>
        <br>
        <p>Voit ladata kuvia joiden maksimi koko on maksimissaan 500kt. Jokaiselle kuvalle 
            tulee myös antaa kuvaajan nimi.
        </p>
        <br>
    </div>
</div>

<!--image upload section-->
<div class="row">
    <div class="col-md-5">
        <form action="/send" method="POST" enctype="multipart/form-data">
            File:<input type="file" name="file">
            <div class="form-group">
                <br>
                <p>Kuvaajan nimi:</p>
                <input required type="text" name="photographer" class="form-control">
                <br>
                <button type="submit" class="btn btn-dark">Lähetä</button>   
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </div>
        </form>
    </div>
</div>

<!--alert section-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="container">
    <div class="row">
        <div class="col">
            {% for category, message in messages %}
            {% if category == "ok" %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
            {% endif %}
            
            {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endwith %}

<!--here are the uploaded images-->
<br>
<hr>
<div class="row">
    <div class="col-md">
    <h3>Tallennettuja kuvia - {{ count }}</h3>
    <br>
    </div>
</div>   
<div class="row">
    <div class="col-md">   
    <ul> 
        {% for imageid in imageid %}
        <img src="{{url_for('images', id=imageid[0])}}" width="auto", height=100 style="margin-bottom: 5px;">
        {% endfor %}
    </ul>
    <p>Voit tarvittaessa poistaa kuvia Muokkaa-kohdasta</p>
    <br>
    </div>
</div>
{% endblock %}
