<!--voting time over here-->

{% extends "layout.html" %}
{% block title %}Kilpailun äänestys{% endblock %}

{% block content %}

{% if result > 0 %}

<h2>Olet jo suorittanut äänestyksen.</h2>

<p>Jokainen käyttäjä voi suorittaa äänestyksen vain kerran.</p>

{% else %}

<h2>Kuvakilpailun äänestys</h2>

<p>Äänestä kuvakisaan lähetetyistä kuvista mielestäsi viittä parasta antamalla parhaalle kuvalle 5 pistettä,
     toiseksi parhaalle 4 ja kolmanneksi parhaalle 3 piste jne. Äänestää vain mielestäsi viittä parasta
     kuvaa ja muille kuville älä anna pisteitä.
</p>
<p> Jos muutat mieltäsi voit poistaa kuvan pisteet vas. alakulmasta "Tyhjennä" painikkeella. </p>
  
<p>Vuonna 2021 "Jäsenistön valinta" on oma pistekilpailunsa, jossa pisteitä saa kolme parasta kuukausittain, 
    voittajalle 4, toiselle 2 ja kolmannelle 1 piste. Vuoden lopussa tämänkin pistekilpailun voittaja palkitaan.
</p>
<p>Älä äänestä kuin yhden kerran.</p>
<br>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}


<form action="/sendvote" method="POST" name="vote">
<ul> 
    {% for imageid in imageid %}
    <p><img src="{{url_for('images', id=imageid[0])}}" width="50%" height="50%"></p>
    <input type="radio" name="{{ imageid[0] }}" id="vote1" value="1"> 1
    <input type="radio" name="{{ imageid[0] }}" id="vote2" value="2"> 2
    <input type="radio" name="{{ imageid[0] }}" id="vote3" value="3"> 3
    <input type="radio" name="{{ imageid[0] }}" id="vote4" value="4"> 4
    <input type="radio" name="{{ imageid[0] }}" id="vote5" value="5"> 5
    <br>

    <input type="hidden" name="id" value="{{ imageid[0] }}">

    <button type="button" onclick="clearSelection({{ imageid[0] }});"> Tyhjennä</button>
     <br>
    {% endfor %}
</ul>
<input type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<script type="text/javascript">
const clearSelection = (name) => {
  const radioBtns = document.querySelectorAll(
          "input[type='radio'][name='" + name + "']");
  radioBtns.forEach((radioBtn) => {
    if (radioBtn.checked === true)
      radioBtn.checked = false;
  });
};
</script>

{% endif %}

{% endblock %}